---
layout: page
title: "People"
permalink: people.html
group: "navigation"
order: 5
---


<div class='page-title'>People</div>

<div class='section members'>
<!-- Show Members -->
	<ul class='cards'>
	{% for member in site.pages  %}		
		{% if member.layout == 'member' %}
			<li class='card member'>
				<img src={{ member.image }}></img>
				<div class='text'>
					<div class='title'>{{ member.title | upcase }}</div>
					<div class='name'>
						{{ member.wholename }}
						<span class='icons'>
							{% if member.github != nil %}
								<a href="http://github.com/{{ member.github }}" >
									<img class='github' src="public/images/github.png"></img>
								</a>
							{% endif %}
							{% if member.twitter !=  nil %}
								<a href="http://twitter.com/{{ member.twitter }}" >
									<img class='twitter' src="public/images/twitter.svg"></img>
								</a>
							{% endif %}
						</span>
					</div>
					<div class='description'>{{ member.content }}</div>											
				</div>
			</li>
	   {% endif %}
	{% endfor %}
	</ul>
	 
</div>
<!--
		List of current members
			Position
			Description of position/duties - (3-5 lines)
			Link to github, twitter, etc
		List of previous members
			Time they were in the lab
			Current Position
			Link to github, twitter, lab homepage, etc
