---
layout: page
title: "Software"
permalink: software.html
group: "navigation"
order: 3
---

<div class='page-title'>Software</div>

<div class='section tools'>	       			

	<ul class='cards'>
	{% for tool in site.tools  %}				
		<li class='card tool'>				
			<img src={{ tool.image }}></img>
			<div class='text'>
				<div class='tagline'>{{ tool.tagline | upcase }}</div>
				<div class='name'>
				{{ tool.toolname }}
				<span class='icons'>
					{% if tool.homepage != nil %}
						<a href="{{ tool.homepage }}" >
							<img class='homepage' src="public/images/homepage.png"></img>
						</a>
					{% endif %}
					{% if tool.github != nil %}
						<a href="http://github.com/{{ tool.github }}" >
							<img class='github' src="public/images/github.png"></img>
						</a>
					{% endif %}
					{% if tool.twitter !=  nil %}
						<a href="http://twitter.com/{{ tool.twitter }}" >
							<img class='twitter' src="public/images/twitter.svg"></img>
						</a>
					{% endif %}
				</span>
				</div>									
				<div class='description'>{{ tool.content }}</div>
			</div>				
		</li>	   	
	{% endfor %}
	</ul>		

</div>